/*
filename: style.css
author: Connor Nee-Salvador
created: 21/08/2018
last modified: 23/08/2018
description: index.html, product.html, enquire.hmtl, about.html
*/

html {
	background-color: lightgrey;
	
	background-repeat: no-repeat;
	opacity: 0.8;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*aside {
	width: 25%;
}*/



article {
	max-width: 1190.5px;
	margin: 0 auto;
}

.description {
	
	padding: 1em;
	width: 100%;
	background-color: white;
}

header {
	background-image: url(background.png);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 158px;
	width: 100%;
}

header h1 {
	text-align: center;
	font-family: impact, arial;
	color: white;
	letter-spacing: 4px;
	font-size: 63px;
	padding-top: .5em;
	padding-left: .5em;
}

h2 {
	text-align: center;
	font-family: arial;
	letter-spacing: 4px;
	font-size: 35px;
	padding-top: .5em;
	padding-left: .5em;
	color: black;
}





.section1 {
	max-width: 700px;
	margin: 0 auto;
}


table, caption, tr, th, td {			/* changes border color of table, excluding the background color */
	border: 2px solid darkgreen;
}

#tables {
	float: right;
	text-align: center;
	background-color: green;
}

.tabletitle {
	background-color: blue;
}

#tableheading {
	background-color: red;
}

#Lists {
	float: left;
	color: black;
}

footer {									/* footer css makes footer appear at bottom with 3 sub headings all aligned left, center, and right */
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: blue;
	font-size: 12px;

	border-width: 4px 0px 0px 0px;
	border-style: double;
	border-color: black;

	clear: both;

	color: black;
}

footer p {
	display: inline-block;
	width: 33%;
}

footer p:first-child {
	float:left;
}
footer p:nth-child(2) {
	text-align: center;
}
footer p:last-child {
	float: right;
	text-align: right;
}

figure {
	border: 2px solid black;
	border-style: double;
	text-align: center;
	background-color: lightgreen;
}

figure p a {						/* figure p a is for changing style of email link */
	color: purple;
	font-size: 20px;
	font-family: impact, arial;
}

figure p a:hover {				/*hover changes color of link when mouse is over it */
	color: white;
}

#timetable {
	float: left;
	margin-left: 23%;
	color: black;
	background-color: lightgreen;
}

#timetabletitle {							/*changes time table style in the about page */
	text-align: center;
	font-family: impact, arial;
	font-size: 30px;
	color: black;
}

.cells {
	background-color: pink;
}

#reflection {
	float: left;
	color: black;
}

#buttonaus {
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 1;
}
#buttonusa {
  background-color: red; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 1;
}

#buttonchina {
  background-color: green; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 1;
}

.line {
  fill: none;
  
  stroke-width: 1;
}

.linehalfMilMark {
	fill: none;
	stroke: red;
	stroke-width: 0.5;
}


.halfMilLabel {
	stroke: black;
	font-size: 11px;
}

.myLabel {
	stroke: black;
	font-size: 11px;
}

.area {
	opacity: 0.2;
}


